.all {
  width: 70%;
  margin: auto;
}

.cloudSense {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 350%;
}

.input-group {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.prices {
  float: right;
  margin-right: 5%;
}

.moviePrice {
  width: 20%;
  outline-color: rgb(53, 112, 240);
}

.movieName {
  width: 20%;
  margin-right: 5%;
  outline-color: rgb(53, 112, 240);
}

.input-group-addon {
  margin-right: 5%;
  border: 1px solid rgb(206, 204, 204);
  background-color: rgb(189, 189, 189);
  color :  rgb(107, 107, 107);
  padding-bottom: 0.125%;
  padding-top: 0.125%;
  padding-left: 0.125%;
  padding-right: 0.125%;
}

.inputButton {
  background-color: rgb(53, 112, 240);
  color: white;
  border-radius: 5%;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  padding: 0.4% 3%;
  white-space: nowrap;
  text-align: center;
  outline-color: rgb(28, 82, 199);
}

.inputButton:hover{
  background-color: rgb(74, 125, 235) ;
}

.inputButton:focus{
  outline-color:rgb(53, 112, 240) ;
}

.discount {
  border-bottom: 1px solid rgb(206, 204, 204);
  color: red;
}
